!!!
%html
  %head
    %title Repo Audit
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{"ng-app" => "app"}
    %nav.navbar.navbar-default
      .container-fluid
        %h1 Latchel Internal Tools
    .body
      = yield
