<div class="container" fade-in>

    <h3>A Seed for serious web apps...</h3>
    <hr>

    <div class="row">
      <div class="col-md-12">
            <p style="margin-top:1em;">
                This project is meant to serve as a more feature-rich starting point for professional web applications. It integrates AngularJS with projects like Angular-UI, Angular-Strap, Bootstrap, and jQuery, along with examples of angular services, directives, controllers, and filters.
            </p>
        </div>
    </div>
    <hr>

    <div class="row" style="padding-top:1em;">

        <div class="col-md-6">

            <p>
                <b>Integrated Technologies:</b>
            </p>

            <p>

            <ul>

                <li>angularjs - Superheroic JavaScript MVW Framework.</li>
                <li>angular-ui - The companion suite for AngularJS.</li>
                <li>Twitter Bootstrap - Sleek, intuitive, and powerful front-end framework for faster and easier web
                    development.
                </li>
                <li>angular-strap - Bootstrap directives for Angular.</li>
                <li>ng-grid - Angular Data Grid.</li>
                <li>jquery - The Write Less, Do More, JavaScript Library.</li>
                <li>jquery-ui - The Write Less, Do More, JavaScript Library.</li>
                <li>modernizr - A JavaScript library that detects HTML5 and CSS3 features in the user’s browser.
                </li>
                <li>underscorejs - Underscore is a utility-belt library for JavaScript that provides a lot of the
                    functional programming support that you would expect in Prototype.js (or Ruby), but without
                    extending any of the built-in JavaScript objects.
                </li>
                <li>prettifyjs - A Javascript module and CSS file that allows syntax highlighting of source code
                    snippets in an html page.
                </li>
                <li>Animate.css - Just-add-water CSS animation. via Ad Packs. animate.css is a bunch of cool, fun,
                    and
                    cross-browser animations for you to use in your projects.
                </li>
                <li>LESS - The dynamic stylesheet language. LESS extends CSS with dynamic behavior such as
                    variables,
                    mixins, operations and functions.
                </li>
            </ul>
            </p>

        </div>


        <div class="col-md-6">
            <img class="img-responsive" src="http://octodex.github.com/images/benevocats.jpg">
        </div>

    </div>

    <hr>

    <div>

        <br>

        <p>
            <b>Project goals:</b>
        </p>

        <p>

        <ul>
            <li>Remain static, as in no web server _processing_ required. The only need for a web server is to host the contents of the app folder.</li>
            <li>Integrate best-of-breed JavaScript MVC, styling, ui, and tooling components "the Angular way"</li>
            <li>Provide examples of services, directives, controllers, and filters in a way that can be cherry picked for use elsewhere.</li>
            <li>Styling via Bootstrap with ready-to-build LESS scripts</li>
            <li>Provide example of ui widgets done the Angular way. See the Playground menu option in the top navbar. UI/widget examples include a paginated grid with sort and filter support, accordion, tree, tabs, and date/time pickers.</li>
        </ul>
        </p>

    </div>


</div>




