<div class="container" ng-controller="UsersController" fade-in>
    <div class="row">
        <div class="info-card col-xs-18 col-sm-6 col-md-3" ng-controller="CardsController" ng-repeat="contributor in contributors.data" ng-init="init(contributor)">
            <div class="thumbnail">
                <img ng-src="{{authorAvatarUrl}}">
                <div class="caption">
                    <h4>{{userLogin}}</h4>
                    <p><span>{{userData.commits}} Commits /</span> <span>{{userData.additions}} ++ /</span> <span>{{userData.deletions}} --</span></p>
                    <p>{{userData.first_week | date :  "MM/dd/yyyy"}} - {{userData.last_week | date :  "MM/dd/yyyy"}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
