<div class="container" ng-controller="UsersController" fade-in>
    <div class="row default-bottom-padding" fadeIn>
        <div class="col-md-8">
            <datepicker date-format="MM/dd/yyyy" date-min-limit="01/01/2010" date-max-limit="01/27/2017">
                <input ng-model="filterDate" type="text" placeholder="Choose a date to filter"/><span class="date-label">Choose a date to update</span>
            </datepicker>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row default-bottom-padding" fadeIn>
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="input-group repo-input">
                <input type="text" ng-model="repo_owner" placeholder="nodejs" class="form-control">
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="input-group repo-input">
                <input type="text" ng-model="repo" placeholder="node" class="form-control">
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="input-group">
                <button type="button" ng-click="getContributors()" class="btn btn-default">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="info-card col-xs-18 col-sm-6 col-md-3" ng-controller="CardsController" ng-repeat="contributor in contributors.data" ng-init="init($index, contributor, repo_owner, repo)">
            <div class="thumbnail">
                <img ng-src="{{authorAvatarUrl}}" ng-click="goToUserHome()">
                <div class="caption">
                    <h4 ng-click="goToUserHome()" >{{userLogin}}</h4>
                    <hr>
                    <p><span class="info-card-ct" ng-click="goToCommits();">{{userData.commits}} Commits </span> / <span class="info-card-ad">{{userData.additions}} ++ </span> / <span class="info-card-ds"> {{userData.deletions}} --</span></p>
                    <p><span class="info-label"> Followers </span> - {{followers}} / <span class="info-label"> Following </span> - {{following}}</p>
                    <hr>
                    <p class="info-card-date">{{userData.first_week | date :  "MM/dd/yyyy"}} - {{userData.last_week | date :  "MM/dd/yyyy"}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
