.post{
  transition: max-height 0.4s;
  height: auto;
  overflow: hidden;
  border-radius: 4px;

  &--collapsed{
    height: 0px;
  }
}

.post_user{
  background:transparent;
  border: none;
  padding:0;
}
