body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.container-fluid {
	font-family: 'Oswald', sans-serif;
}


#users-list img {
	width: 100px;
	height: 100px;
	border: solid gray 2px;
}

#commits {
	font-size: 3em;
	font-weight: bold;
}

.name {
	font-size: 2em;
}

#users-list .user-row {
	margin: 10px;
}

#users-list .first #commits {
	color: maroon;
	font-size: 6em;
	font-weight: 700;
}
